@charset 'UTF-8' ;
@import './ui/layout';
@import './ui/common';

.wrapBox{
	padding:50px;
	.title{
		margin-bottom:5px;
		h1{
			font-size:15px;
			font-weight: bold;
		}
	}
	.form{
		ul{
			> li{
				margin-bottom:3px;
			}
		}
		label{
			line-height: 22px;
			vertical-align: top;
		}
	}
	.btn_area{
		text-align:center;
		.btn{
			margin:0 3px;
		}
	}
	input[type=text], input[type=email], textarea{
		display: inline-block;
		padding:0 2px;
		line-height:22px;
		border:1px solid #bbb;
		font-family: 'Nanum Gothic', sans-serif;
	}
	.cal_area{
		display: none;
		&.open{
			display: block;
		}
	}
}

.intro{
	text-align: center;
	padding:100px;
	h1{
		margin-bottom: 20px;
	}
}

.btn{
	display: inline-block;
	padding:10px 20px;
	border-radius:5px;
	background-color:#333;
	color:#fff;
	font-size:14px;
	&.btn_sm{
		padding:5px 10px;
		font-size:12px;
		line-height: 1;
	}
}

.ip_add{
	&.close{
		display: none;
	}
}

.ip_add_modify{
	display: none;
	&.open{
		display: block;
	}
}

.preview{
	.top{
		text-align: center;
		h2{
			font-size:20px;
			font-weight: bold;
		}
	}
	.contents{
		dt{
			margin-bottom: 5px;
			font-weight: bold;
			border-bottom:1px dotted #333;
			line-height: 1.6;
		}
		dd{
			margin-bottom:15px;
		}
	}
}

.lst_preview{
	> li{
		position: relative;
		padding-left:7px;
		line-height: 1.8em;
		&:before{
			content:"";
			display: block;
			position:absolute;
			left:0;
			top:50%;
			width:2px;
			height:2px;
			background-color: #666;
			transform:translateY(-50%) ;
		}
	}
}